<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/" style="font-weight: bold; font-size: 1.5rem;">
            <i class="bi bi-person-circle"></i> Devrim Savas Yilmaz
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link active" href="/"> <i class="bi bi-info-circle"></i> About</a>
                <a class="nav-item nav-link" href="/projects"> <i class="bi bi-diagram-3"></i> Projects</a>
                <a class="nav-item nav-link" href="/games"> <i class="bi bi-controller"></i> Games</a>
                <a class="nav-item nav-link" href="#"> <i class="bi bi-file-earmark-text"></i> Resume</a>
                <a class="nav-item nav-link" href="/contact"> <i class="bi bi-envelope"></i> Contact</a>
            </div>
        </div>
    </div>
</nav>